In [15]:
import pandas as pd 

df = pd.read_csv('ecommerce_dataset.csv')
print(df.shape)

(50425, 2)

In [16]:
df.head()

   category                                         description
0  Household  Paper Plane Design Framed Wall Hanging Motivat...
1  Household  SAF 'Floral' Framed Painting (Wood, 30 inch x ...
2  Household  SAF 'UV Textured Modern Art Print Framed' Pain...
3  Household  SAF Flower Print Framed Painting (Synthetic, 1...
4  Household  Incredible Gifts India Wooden Happy Birthday U...

In [27]:
df.columns = df.columns.str.strip() #as I have manually added the columns of category and description there might be a whitespace so lets strip the shape :

df.category.value_counts()

category
Household                 19313
Books                     11820
Electronics               10621
Clothing & Accessories     8671
Name: count, dtype: int64

In [30]:
df.isna().sum()

category       0
description    1
dtype: int64

In [31]:
df.dropna(inplace=True)
df.shape

(50424, 2)

In [ ]:
#we can see there are three different categories lets now just rename the thrid one without anyspaces: